QPushButton{
background-color: white;
border: none;
}

QPushButton:hover{
background-color: rgb(0, 172, 229);
border: none;
}

QPushButton:pressed{
background-color: rgb(0, 172, 229);
color: white;
border: none;
}

QLabel{
background-color: rgb(15, 26, 42);
color: rgb(0, 172, 229);
}

QLineEdit{
background-color: rgb(15, 26, 42);
border: 3px solid #828282;
border-color: rgba(0,0,0,0);
border-bottom-color: rgb(0, 172, 229);
color: rgb(0, 172, 229);
}

QLineEdit:hover{
background-color: #E6E6E6;
}

QLineEdit:pressed{
background-color: #006EFF;
}

QComboBox{
color: rgb(0, 172, 229);
border: 1px solid #828282;
border-color: rgb(0, 172, 229);
border-radius: 8px;
}

QComboBox:hover{
background-color: #E6E6E6;
}

QComboBox::drop-down{
border:none;
}

QListView{
border: none;
color: rgb(0, 172, 229);
}

QListView::item{
height: 50px
}

QRadioButton{
color: rgb(0, 172, 229);
}

QMessageBox QPushButton {
color: rgb(0, 172, 229);
background-color: white;
}

QMessageBox QLabel {
color: rgb(0, 172, 229);
background-color: white;
}
